@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
  color: #666;
  font-family: "Times New Roman", "Nanum Myeongjo", serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fffff8;
}

#menu {
  font-family: Zapfino;
  position: fixed;
  width: 100%;
}

#cover-image {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 800px;
  background-image: url('cover.jpg');
  filter: none;
}

#message {
  padding: 50px 0 50px 0;
}

#gallery {
  overflow-x: scroll;
  white-space: nowrap;
}

#gallery img {
  cursor: pointer;
}

#gallery::-webkit-scrollbar {
  display: none;
}

em {
  font-family: Zapfino;
  font-weight: bold;
  font-style: normal;
}

#maps img {
  display: inline-block;
  margin: auto;
  width: 45%;
  max-width: 300px;
}
