@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
  color: #666;
  font-family: "Nanum Myeongjo", serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fffff8;
}


h3 {
  display: block;
  font-size: 12pt;
  margin: 50px 0 50px 0;
}

em {
  font-family: Zapfino;
  font-weight: bold;
  font-style: normal;
}

a {
  color: #666;
  text-decoration: none;
}

hr {
  width: 150px;
  border-top: 1px solid #ccc;
  border-bottom: 0;
  margin: 50px auto 20px auto;
}

#menu {
  font-family: Zapfino;
  position: fixed;
  width: 100%;
}

#cover-image {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 800px;
  filter: none;
}

#message {

}

#families {
  padding-top: 50px;
}

#family-nayoung {
  display: inline-block;
  width: 49%;
  max-width: 200px;
}

#family-jongwook {
  display: inline-block;
  width: 49%;
  max-width: 200px;
}

#gallery {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

#gallery img {
  cursor: pointer;
}

#gallery::-webkit-scrollbar {
  display: none;
}

#maps img {
  display: inline-block;
  margin: auto;
  width: 45%;
  max-width: 300px;
}

#maps-app-links a {
  display: inline-block;
  margin: 0 20px;
  font-size: 12pt;
}

#maps-app-links img {
  width: 50px;
  border-radius: 11px;
}

#footer {
  color: #999;
  font-size: 8pt;
  margin: 10px 0 20px 0;
}
